/* Container Styles... */
.container
	width: 95%
	margin: 0 auto

	@media(min-width: 768px)
		width: 60%

/* Make Part Styles... */
.make-part
	background: linear-gradient(to bottom, #3db5b0 25%,rgba(0,0,0,.9)25%,#e30059 25.5%,#e30059 25%,#e30059 50%,rgba(0,0,0,.9)50%,#ec7404 50.5%,#ec7404 50%,#ec7404 75%,rgba(0,0,0,.9) 75%,#f6a800 75.5%,#f6a800 75%,#f6a800 100%)
	box-shadow: 0px 2px 3px rgba(0,0,0,.9)

	@media(min-width: 768px)
		height: calc(100vh - 65px)

	>.container
		height: 100vh
		position: relative

	p
		margin: 0
		font-size: 1.2em

.intro
	padding: 20px 0

	text-align: center
	color: white

.big-title
	margin: 0
	color: sixthColor
	font-size: 3em


/* Features Section */
.features
	padding: 25px 0
