/* Login Form Module... */
.form-login
	position: absolute
	top: 60%
	left: 50%
	width: 90%
	display: flex
	flex-direction: column
	padding: 60px 15px 30px
	transform: translate(-50%, -50%)

	background: white
	border-radius: 7px
	box-shadow: 1px 2px 6px rgba(0,0,0, .7)
	z-index: 5

	@media(min-width: 768px)
		width: 60%
		top: 52%

.form-login__email
.form-login__password
	margin: 1.5em 0
	padding: 10px

	color: fourthColor
	border: none
	border-bottom: 1px solid fourthColor

	&::placeholder
		font-size: 1.2em
		color: fourthColor

.form-login__btn
	width: 40%
	padding: 15px
	margin 1.5em auto 0

	color: white
	cursor: pointer
	border: none
	background: fourthColor
	box-shadow: 2px 2px 6px rgba(0,0,0, .7)

	@media(min-width: 768px)
		margin: 1.5em 15px 0 auto
