/* Description Styles... */
.description
  width: 100%
  padding: 1.5em 0

.description__problem
.description__goals
.description__values
  h2
    width: 90%
    margin: 1.2em auto
    font-weight: 400

  p
    width: 90%
    margin: 0 auto

    line-height: 1.5
    font-size: 1.2em
    font-weight 100
