/* Feed Styles... */
.feed
  width: 90%
  margin: 2.5em auto
  position: relative

  border: 1px solid #f6f6f6
  border-radius: 5px
  box-shadow: 1px 3px 0 #ccc

.feed__title
  width: 100%
  padding: 0 0 .5em 1em

  color: rgba(0, 0, 0, 0.5)
  border-bottom: 1px solid rgba(0, 0, 0, 0.4)

.feed__list
  width: 90%
  margin: 2em auto 4em

.feed__list__item
  margin: 1em 0
  font-weight: 300

.feed-help
  .feed__list
    width: 70%
    margin: 1.5em auto 3em
    list-style: disc

.feed__link
  position: absolute
  bottom: 5%
  right: 5%

  font-size: 1.1em
  font-weight: bold
  color: #3db5b0
