/* Login Form Module... */
.form-login
	position: absolute
	top: 60%
	left: 50%
	width: 90%
	display: flex
	flex-direction: column
	padding: 60px 15px 30px
	transform: translate(-50%, -50%)	
	
	background: white
	border-radius: 7px
	box-shadow: 1px 2px 6px rgba(0,0,0, .7)
	z-index: 5
	
	@media(min-width: 768px)
		width: 60%
		top: 52%

.form-login__email
.form-login__password
	margin: 1.5em 0
	padding: 10px

	color: fourthColor
	border: none
	border-bottom: 1px solid fourthColor
	
	&::placeholder
		font-size: 1.2em
		color: fourthColor

.form-login__btn
	width: 40%
	padding: 15px
	margin 1.5em auto 0
	
	color: white
	cursor: pointer
	border: none
	background: fourthColor
	box-shadow: 2px 2px 6px rgba(0,0,0, .7)
	
	@media(min-width: 768px)
		margin: 1.5em 15px 0 auto

/* Item Styles... */
.item
	width: 100%
	padding: 15px 10px
	margin: 1.5em auto
	
	border: 1px solid #e3e3e3
	
	&:nth-child(1) .item__title:before
	&:nth-child(2) .item__title:before
	&:nth-child(3) .item__title:before
	&:nth-child(4) .item__title:before
		margin: -17px .5em 0 0
	
	&:nth-child(1) .item__title:before
		content: url(../build/img/icon1.png)
	
	&:nth-child(2) .item__title:before
		content: url(../build/img/icon2.png)
	
	&:nth-child(3) .item__title:before
		content: url(../build/img/icon3.png)
	
	&:nth-child(4) .item__title:before
		content: url(../build/img/icon4.png)

	&:last-child .item__title:before
		content: url(../build/img/icon5.png)
		margin: -5px .5em 0 0

.item__icon
	float: left

.item__title
	font-size: 1em
	
	&:before
		float: left

.item__description
	clear: both
	width: 100%